<?xml version="1.0"?>
<!--<?xml version="1.0" encoding="UTF-8"?>-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">.</directory>
    </include>
    <exclude>
      <directory suffix=".php">./Tests</directory>
      <directory suffix=".php">./vendor</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="setting-bundle">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
